<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://200.206.106.250:8017/Service1.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="wsLib.Service1Soap" name="Service1Soap"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <AppLib.Properties.Settings>
            <setting name="Contrato" serializeAs="String">
                <value/>
            </setting>
        </AppLib.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
